# Python
__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd
venv/
.venv/
data_cache/

# Node / Next.js
node_modules/
.next/
out/
build/
dist/

# C++ / CMake
cpp_core/build/
*.obj
*.exe
*.dll

# IDEs & System
.DS_Store
Thumbs.db
.vscode/
.idea/
*.db
